<div>
  <a href="/api/sessions/github"><button>Ingresar con GitHub</button></a>
</div>
<br />
<h5>Usuario</h5>
<input type="text" placeholder="user@user.com" />
<h5>Contraseña</h5>
<input type="text" /><br />
<a href="/api/products"><button>Ingresar</button></a>