<div class="justify-content-center">
  <div>
    <a href="/api/sessions/github"><button>Login with GitHub</button></a>
  </div>
  <br />
  <h5>User</h5>
  <input type="email" placeholder="user@user.com" />
  <h5>Password</h5>
  <input type="password" /><br />
  <a href="/api/products"><button>Log in</button></a>
</div>